/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/header/header.styles.css ***!
  \*******************************************************************************************/
.header_div {
    margin: 15px;
}
/*!*******************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/components/main/main.div.styles.css ***!
  \*******************************************************************************************/
.main_div {
    display: flex;
}
/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/styles.css ***!
  \******************************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.2;
    font-size: 18px;
    background-color: #66deb2;
}

h1, h2 {
    text-align: center;
    margin-bottom: 15px;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 80%;
}

.form {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.form__input {
    min-height: 25px;
    padding: 10px;
    width: 100%;
    border: none;
}

.form__btn {
    background: #0be69d;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
}

.todo-item {
    display: flex;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.todo-item--checked {
    text-decoration: line-through;
}

.todo-item__description {
    flex-grow: 1;
    padding-left: 10px;
}

.todo-item__delete {
    background: #0be69d;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
}
